<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estilos/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>MercadoLiebre</title>
</head>
<body>

<header>
    <div>
        <img src="./images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" width="500">
    </div>
    
    <p> <i class="fas fa-hand-holding-usd"></i>

        Buscar productos, marcas y más.</p>
    
    <p >Comprá en cuotas y sin tarjeta de crédito</p>

    <nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        
        <ul>
            <li><a href="/register">Creá tu cuenta <i class="fas fa-address-card"></i></a></i></li>
            <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>

</header>
<div>
    <img src="./images/img-home-banner.jpg" alt="banner" width="250">
</div>

<main>
<section>
    <h2 class='titulares'>Basado en tu ultima visita</h2>
    <article>
        <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera" class='imagen'>
        <div><i class="fas fa-truck icono"></i></div>
        <p class='precio'>$6.770</p>
        <p class='descuento'>40% off</p>
        <h3 class='descripcion'>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h3>
    </article>

    <div class='separador'></div>

    <article>
        <img src="./images/img-macbook-pro-2019.jpg" alt="Macbook Pro" class='imagen'>
        <div><i class="fas fa-truck icono"></i></div>
        <p class='precio'>$230.000</p>
        <p class='descuento'>20% off</p>
        <h3 class='descripcion'>Macbook Pro 2019 Lorem ipsum, dolor sit amet</h3>
    </article>

    <div class='separador'></div>

    <article>
        <img src="./images/img-samsung-galaxy-s10.jpg" alt="Teléfono Samsung Galaxy s10" class='imagen'>
        <div><i class="fas fa-truck icono"></i></div>
        <p class='precio'>$70.250</p>
        <p class='descuento'>15% off</p>
        <h3 class='descripcion'>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h3>
    </article>

    <div class='separador'></div>

    <article>
        <img src="./images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class='imagen'>
        <div><i class="fas fa-truck icono"></i></div>
        <p class='precio'>$34.000</p>
        <p class='descuento'>5% off</p>
        <h3 class='descripcion'>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h3>
    </article>
</section>

<section>
    <h2 class='titulares'>Ofertas</h2>
    <article>
        <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera" class='imagen'>
        <div><i class="fas fa-truck icono"></i></div>
        <p class='precio'>$6.770</p>
        <p class='descuento'>40% off</p>
        <h3 class='descripcion'>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h3>
    </article>

    <div class='separador'></div>

    <article>
        <img src="./images/img-macbook-pro-2019.jpg" alt="Macbook Pro" class='imagen'>
        <div><i class="fas fa-truck icono"></i></div>
        <p class='precio'>$230.000</p>
        <p class='descuento'>20% off</p>
        <h3 class='descripcion'>Macbook Pro 2019 Lorem ipsum, dolor sit amet</h3>
    </article>

    <div class='separador'></div>

    <article>
        <img src="./images/img-samsung-galaxy-s10.jpg" alt="Teléfono Samsung Galaxy s10" class='imagen'>
        <div><i class="fas fa-truck icono"></i></div>
        <p class='precio'>$70.50</p>
        <p class='descuento'>15% off</p>
        <h3 class='descripcion'>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h3>
    </article>

    <div class='separador'></div>

    <article>
        <img src="./images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class='imagen'>
        <div><i class="fas fa-truck icono"></i></div>
        <p class='precio'>$34.000</p>
        <p class='descuento'>5% off</p>
        <h3 class='descripcion'>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h3>
    </article>
</section>

</main>

<footer>
    <div class="icono"><i class="fas fa-credit-card"></i></div>
    <h3>Pagá con tarjeta o en efectivo </h3>
    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>

    <div class='icono'><i class="fas fa-gift"></i></div>
    <h3>Envío gratis desde los $ 2.500</h3>
    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>

    <div class="icono"><i class="fas fa-user-lock"></i></div>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@</p>

    <p>Copyright © 1999-2019 MercadoLiebre S.R.L</p>

</footer>
    
</body>
</html>